*{
    margin: 0px;
    font-family: "inter";
}

#cabecalho{
    background-color: #303030;
    display: grid;
    grid-auto-flow: row;
    padding-bottom: 100px;
         
}

#titulo-cabecalho{
    color: #FFFFFF;
    margin-top: 120px;
    margin-left: 62px;
   
}

#paragrafo-cabecalho{
    color: #FFFFFF;
    margin-top: 25px;
    margin-left: 62px;
    
}

#bloco-informacional{
    background-color: #F9F9F9;
    color: #000000;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    padding-top: 70px;
    padding-left: 120px;
    padding-bottom: 50px;
    
}

#bloco-historia{
    background-color: #FFFFFF;
    color: #000000;
    text-align: justify;
    padding-top: 250px;
    padding-left: 50px;
    padding-bottom: 250px;
    display: grid;
    grid-auto-flow: column;
    
    
}

p{
    line-height: 1.5;

}

#imagem-exemplo{
    margin-top: -150px;
    
}

#formulario{
    background-color: #303030;
    padding-top: 80px;
    text-align: center;
    padding-bottom: 80px;
    display: flex;
    flex-flow: column;
    align-items: center;
    line-height: 50px;
    
    

}

#titulo-formulario{
    color: #FFFFFF;
    text-align: center;
      
}



input{

    width: 450px;
    height: 50px;
    top: 1500px;
    left: 400px;
    border-radius: 10px 10px 10px 10px;
    padding-left: 20px;   
    display: flex;
    align-items: center; 
    outline: 0;
       
   
}

#cards{
    padding-top: 30px;
}

button{
    width: 200px;
    height: 50px;
    top: 1500px;
    left: 400px;
    border-radius: 5px 5px 5px 5px;
    background-color:#C07212;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 20px;
    font-family: "raleway";
    outline: 0;
     
}

#botao-faleconosco{
    padding-top: 20px;
}

